:root {
    --text: rgb(255, 255, 255);
    --bg: hsl(0, 0%, 9%);
  }
  
  * {
      font-family: 'K2D', sans-serif;
      box-sizing: border-box;
      background-color: var(--bg);
      color: var(--text);
      margin: 0%;
      padding: 0;
  }
  
  .rnav {
    position: fixed;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 26px;
    background: rgba(56, 56, 56, 0.50);
    width: 205px;
    height: 49px;
    flex-shrink: 0;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }

  @media screen and (min-width: 1px) and (max-width: 844px) {
    .lnav {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      width: 40px !important;
      height: 40px !important;
      transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    }

    .lnav input[type=text] {
      display: none;
    }

    #pfp {
      margin-top: -5.5px !important;
      margin-right: 4.5px !important;
      height: 31px !important;
      width: 31px !important;
      -webkit-touch-callout: none;
      -webkit-user-select: none; 
      -khtml-user-select: none; 
      -moz-user-select: none;
      -ms-user-select: none; 
      user-select: none;
      pointer-events: none;
    }
    
    .optxt {
      display: none;
      float: none;
      background: transparent;
      margin-top: 0px;
      padding-left: 0px;
      transition: ease-out 0.2s;
      text-decoration: none;
    }

    .lnav.active .optxt {
      display: block;
      float: left;
      margin-top: 40px !important;
      margin-bottom: -30px;
      font-size: 18px !important;
      transition: ease-in 0.2s !important;
      width: 200px;
      animation: fadeIn 1s;
      -webkit-touch-callout: none;
      -webkit-user-select: none; 
      -khtml-user-select: none; 
      -moz-user-select: none;
      -ms-user-select: none; 
      user-select: none;
    }

    #act {
      display: none;
      text-decoration: none;
      background-color: transparent;
      font-size: 18px;
      float: right;
      margin-right: 5px;
      margin-top: -130px;
      animation: fadeIn 1s;
      transition: ease-in .2s;
      -webkit-touch-callout: none;
      -webkit-user-select: none; 
      -khtml-user-select: none; 
      -moz-user-select: none;
      -ms-user-select: none; 
      user-select: none;
    }

    #act:hover {
      transition: ease-in 0.2s;
      color: rgb(163, 163, 163);
      cursor:pointer;
      background: transparent;
    }

    .lnav.active #act {
      display: block;
    }

    @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

    #search {
      display: none;
    }

    .lnav.active #search {
      display: block;
      margin-top: -4.5px;
      width: 125px;
      height: 30px;
      margin-left: 6px;
      animation: fadeIn 1s;
      -webkit-touch-callout: none;
      -webkit-user-select: none; 
      -khtml-user-select: none; 
      -moz-user-select: none;
      -ms-user-select: none; 
      user-select: none;
    }

    .lnav.active {
      transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
      border-radius: 20px !important;
      height: 250px !important;
      width: 200px !important;
    }

    .rnav {
      width: 131px;
      height: 40px;
    }

    .ricon {
      max-height: 17px;
      max-width: 20px;
      margin-right: 5px !important;
      margin-left: -2px !important;
    }

    #logotext {
      font-size: 12px !important;
    }

    .container {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }

  }

  .lnav {
    position: fixed;
    right: 0px;
    margin-top: 12px;
    margin-right: 12px;
    border-radius: 26px;
    background: rgba(56, 56, 56, 0.50);
    width: 585px;
    height: 49px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }

  .lnav input[type=text] {
    background-color: #222222;
    height: 36px;
    width: 170px;
    border-radius: 100px;
    border-color: transparent;
    font-size: 18px;
    margin-left: 21px;
    margin-top: -3px;
    padding-left: 25px;
    padding-bottom: 2px;
  }

  .optxt {
    float: left;
    background: transparent;
    margin-top: 2px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 400;
    transition: ease-out 0.2s;
    text-decoration: none;
  }

  .optxt:hover {
    transition: ease-in 0.2s;
    color: rgb(163, 163, 163);
    cursor:pointer;
    background: transparent;
  }

  #pfp {
    height: 36px;
    width: 36px;
    float: right;
    margin-right: 8px;
    margin-top: -3px;
    border-radius: 100px;
  }

  #wrapper {
    background: transparent;
    overflow: auto;
  }

  .ricon {
    height: 26px;
    width: 30px;
    background-color: transparent;
    margin-right: 5px;
    margin-left: 5px;
  }

  .imgcontent {
    background-color: transparent;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
  }

  .txtcontentr {
    background-color: transparent;
    float: none;  
    padding-top: 10px;
  }

  .txtcontentl {
    background-color: transparent;
    float: none;  
    padding-top: 10px;
  }

  #logotext {
    color: #FFF;
    padding-top: 2px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: transparent;
  }

  #logotext:hover {
    cursor: pointer;
  }

  .bodytxt {
    padding-top: 100px;
  }

  .container {
    white-space: normal;
    padding-right: 145px;
    padding-left: 145px;
  }

  .lead {
    padding-top: 100px;
    font-size: 50px;
    font-weight: 800;
  }

  .lead::after {
    border-radius: 10px;
    display: block;
    height: 5px;
    content: '';
    background: white;
    width: 50px;
  }